# Ignore system files
*.log
*.env
/vendor/
/node_modules/
/.DS_Store
.idea/
/*.swp
/.vscode/

# Ignore configuration files
config.php
database.php

# Ignore cache and session files
/cache/
/sessions/

# Ignore image uploads
/image/uploads/

